﻿
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form action="A3" method="post">
    <div class="form-group">
        <label for="exampleInput1">Username</label>
        <input type="text" class="form-control" id="exampleusername" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleInput2">Email</label>
        <input type="text" class="form-control" id="exampleusername" name="email" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="exampleInput3">Password</label>
        <input type="password" class="form-control" id="examplepassword" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInput4">Password</label>
        <input type="password" class="form-control" id="examplecfpassword" name="confirm_password" placeholder="Confirm Password">
    </div>

    <div class=form-group>
        <center>
            <button type="submit" class="btn btn-success">Submit</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger"> cancle </button>
        </center>
    </div>
</form>
