﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form action="test_api" method="post">
    First name: <input type="text" name="user"><br>
    Last name: <input type="text" name="pass"><br>
    <input type="submit" value="Submit">
</form>
